*, ::before, ::after, ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

.component-app {
  padding: 2rem;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  position: relative; }
  .component-app__head {
    font-size: 2rem;
    margin: 1rem 0 2rem;
    font-weight: 100;
    color: #222; }
  .component-app__wrapper-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .component-app__form-group {
    width: 250px; }
    .component-app__form-group form, .component-app__form-group input {
      width: 100%; }
  .component-app__search-input {
    outline: none;
    font-size: 14px;
    border: 0;
    padding: 5px 14px 7px;
    border-bottom: 1px solid #222; }
  .component-app__random-meal {
    border: none;
    border-radius: 6px;
    padding: 8px 14px;
    cursor: pointer;
    color: #fff;
    background-color: #222; }
  .component-app__wrapper-results {
    padding: 20px; }
  .component-app__result-is-null {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .component-app__wrapper-results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .component-app__wrapper-meal {
    width: 25%;
    padding: 10px;
    -webkit-transition: all 480ms;
    -o-transition: all 480ms;
    transition: all 480ms;
    overflow: hidden; }
  .component-app__wrap-picture {
    display: block;
    position: relative;
    height: 0;
    padding-top: 100%; }
    .component-app__wrap-picture img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
